@import "tailwindcss";
* {
  transition: all 0.3s;
}
:root {
  --dark-color: #0f172a;
  --text-color: #475569;
  --primary-color: #db2777;
}

.container {
  @apply mx-auto lg:w-[1200px];
}
.gradient-text {
  @apply bg-gradient-to-r from-[#FF5722] via-[#D81B7E] to-[#7C3AED] bg-clip-text text-transparent;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--text-color);
  font-size: 14px;
}
h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
}

a {
  font-weight: 500;
}
a:hover {
  color: var(--primary-color);
}

.btn:hover {
  background-color: var(--dark-color);
  color: white;
}
